$backgroundColorDark: #000000;
$backgroundColor: #faffff;
$backgroundColorLight: #ffffff;

$timerColorDark: #000000;
$timerColor: #fff1e5;
$timerColorLight: #fff5ed;
$timerButtonColor: #ff0000;

$sessionBreakColorDark: #000000;
$sessionBreakColor: #888888;
$sessionBreakColorLight: #ffffff;
$sessionBreakButtonColor: #ff0000;
