$backgroundColorDark: #000000;
$backgroundColor: #fffffa;
$backgroundColorLight: #fffffc;

$timerColorDark: #8d9982;
$timerColor: #fff4f4;
$timerColorLight: #fcfff9;
$timerButtonColor: #babfb5;

$sessionBreakColorDark: #998d82;
$sessionBreakColor: #888888;
$sessionBreakColorLight: #fffcf9;
$sessionBreakButtonColor: #bfbab5;
